{% extends "base.html" %}

{% block content %}

	<h2 class="content-subhead">Módulo de Codificação (Módulo I)</h2>
	<div class="my_input" style=" border: 3px solid #1f8dd6;">
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Entradas</strong>
				<ul>
					<li> Uma imagem digital </li>
				</ul>
			</p>
		</div>
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Saídas</strong>
				<ul>
					<li> Keypoints da imagem </li>
					<li> Descritores da imagem </li>
				</ul>
			</p>
		</div>
	</div>
	<br>
	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1">

			<h2>Imagem original</h2>
			<img src="{{ image.url }}" style="width: 700px;">

			<h2>Imagem com ORB</h2>
			<img src="{{ image_cod }}" style="width: 700px;">
			<br>

<!-- 
			<h2>Keypoints</h2>
			{% for keypoint in keypoints %}
				{{ keypoint.pt }}
			{% endfor %}
			{% for descriptor in descriptors %}
				<p> {{ descriptor }} </p>
			{% endfor %}
 -->

		</div>
	</div>

{% endblock %}
