{% extends "base.html" %}

{% block content %}

	<h1 class="content-subhead">Módulo de Codificação (Módulo I)</h1>
	<p>
		• Entrada: Uma imagem digital
	</p>
	<p>
		• Saída: Keypoints e descritores da imagem
	</p>

	<div class="pure-g-r content-ribbon">
		<div class="pure-u-1">

			<h2>Imagem original</h2>
			<img src="{{ image.url }}" style="width: 700px;">

			<h2>Imagem com ORB</h2>
			<img src="{{ image_cod }}" style="width: 700px;">
			<br>

			<h2>Keypoints</h2>

			{% for keypoint in keypoints %}
				{{ keypoint.pt }}
			{% endfor %}

			<h2>Descriptors</h2>

			{% for descriptor in descriptors %}
				<p> {{ descriptor }} </p>
			{% endfor %}

		</div>
	</div>

{% endblock %}
