{% extends "base.html" %}

{% block content %}

	<h2 class="content-subhead">Módulo de Similaridade entre Formas (Módulo III)</h2>

	<div class="my_input" style=" border: 3px solid #1f8dd6;">
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Entradas</strong>
				<ul>
					<li> Uma imagem digital </li>
					<li> Conceito na imagem </li>
				</ul>
			</p>
		</div>
	</div>

	<br>

	<div class="my_input" style=" border: 3px solid #1f8dd6;">
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Saídas</strong>
				<ul>
					<li> Imagem digital original </li>
					<li> Imagem com os superpixels </li>
					<li> Imagem segmentada </li>
					<li> Máscara da segmentação </li>
				</ul>
			</p>
		</div>
	</div>

	<div class="pure-g-r content-ribbon">
	
		<div class="pure-u-1">

			<h2>Imagem original</h2>
			<img src="{{ image.url }}" style="width: 700px;">

			<h2>Imagem com superpixels</h2>
			<img src="{{ img_superpixels }}" style="width: 700px;">
			<br>

			<h2>Máscara da segmentação</h2>
			<img src="{{ img_mask }}" style="width: 700px;">
			<br>

			<h2>Imagem segmentada</h2>
			<img src="{{ img_seg }}" style="width: 700px;">
			<br>

		</div>

	</div>

{% endblock %}
