{% extends "base.html" %}

{% block content %}

	<h2 class="content-subhead">Módulo de Similaridade entre Formas (Módulo IV)</h2>

	<div class="my_input" style=" border: 3px solid #1f8dd6;">
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Entradas</strong>
				<ul>
					<li> Duas imagem digitais </li>
				</ul>
			</p>
		</div>
	</div>
	<br>
	<div class="my_input" style=" border: 3px solid #1f8dd6;">
		<div class="inf_input" style="position: relative;margin-left: 25px;">
			<p>
				<strong>Saídas</strong>
				<ul>
					<li> Imagens digitais de entrada </li>
					<li> Imagem com o match dos descritores das imagens </li>
					<li> Percentual de similaridade </li>
				</ul>
			</p>
		</div>
	</div>
	<br>
	<div class="pure-g-r content-ribbon">
	
		<div class="pure-u-1">

			<h2>Imagens de entrada</h2>
			<img src="{{ first_image.url }}" style="width: 350px;">
			<img src="{{ second_image.url }}" style="width: 350px;">

			<h2>Match dos descritores das imagens</h2>
			<img src="{{ img_match }}" style="width: 700px;">
			<br>
			{% if rate_shape_similarity < 30 %}
				<h2>Taxa de similaridade é de <strong style="color: #ea0808;">{{ rate_shape_similarity }}%</strong></h2>
			{% elif rate_shape_similarity < 50 %}
				<h2>Taxa de similaridade é de <strong style="color: #ea8a09;">{{ rate_shape_similarity }}%</strong></h2>
			{% elif rate_shape_similarity < 80 %}
				<h2>Taxa de similaridade é de <strong style="color: #a1c714;">{{ rate_shape_similarity }}%</strong></h2>
			{% else %}
				<h2>Taxa de similaridade é de <strong style="color: #38c71c;">{{ rate_shape_similarity }}%</strong></h2>
			{% endif %}
			

		</div>

	</div>

{% endblock %}
